@layout('layouts.main')

@section('title')
  Job board - Post your jobs
@endsection

@section('content')

  <h1>All Jobs</h1>

  <div class="job-container">
    <div class="blank"></div>
    <div class="job-info">
      <h3>Job Title</h3>
      <p>Job description can go here</p>
    </div>
  </div> 

@endsection